.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 650px;
	background-image: url(../img/backg.jpg);
	background-size: 100% 100%;
	opacity: 0.85;
	padding: 0px;
	flex-shrink: 0;
}

.content {
	float: left;
	margin-left: auto;
	margin-right: auto;
	align-content: center;
	width: 950px;
	height: 100%;
	background-color: white;
	box-shadow: 2px 2px 4px black;
}

.content-header {
	float: left;
	width: 950px;
	height: 210px;
	background-size: 100%;
	box-shadow: 2px 2px 2px black;

}

.keyword {
	margin-left: 600px;
	margin-top: 5px;
}

.logo {
	position: absolute;
	font-size: 40px;
	color: white;
	margin-top: 50px;
	margin-left: 360px;

}

.head-picture {
	position: absolute;
	width: 100px;
	height: 100px;
	margin-top: 140px;
	margin-left: 410px;
	box-shadow: 2px 0px 0px gray;
	border-radius: 5px;
}

.content-footer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 400px;
	padding: 20px;
}

.content-footer_1 {
	margin-top: 20px;
	width: 270px;
	height: 400px;
	margin-left: 40px;
}

.experience {
	background-image: url(../img/border.jpg);
	width: 200px;
	height: 200px;
	background-size: 100% 100%;
}

.link_exp {
	float: left;
	margin-top: 100px;
	margin-left: 50px;
	font-size: 24px;
	text-decoration: none;
	/*去掉下划线*/
}


a:hover {
	color: red;
}

.hobby {
	margin-top: 20px;
	width: 200px;
	height: 100px;
	border-radius: 100px/50px;
	background: rgb(70, 187, 158);
}

.hobby_text {
	float: left;
	margin-top: 30px;
	font-size: 24px;
	margin-left: 50px;
	text-decoration: none;
	color: white;
}

.content-footer_2 {
	display: flex;
	flex-direction: column;
	width: 270px;
	height: 400px;
}

.content-footer_3 {
	display: flex;
	flex-direction: column;
	width: 270px;
	height: 400px;
}

.Name {
	display: flex;
	margin-top: 10px;
	font-size: 20px;
	margin-left: 75px;
	font-family: 微软雅黑;
}

.age {
	margin-top: 70px;
	margin-left: 50px;
	font-size: 16px;
}

.all {
	margin-top: 20px;
	margin-left: 50px;
	font-size: 16px;
}

#jump {
	float: left;
	display: none;
	width: 160px;
	height: 20px;
	margin-left: 20px;
	border: 1px solid gray;
	border-radius: 25%;
	text-align: center;

}

#div1 {
    display:none;
	position: absolute;
	margin-top: 60px;
	margin-left: 50px;
	width: 100px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 25%;
	text-align: center;
}

#div2 {
    display:none;
	position: absolute;
	margin-top: 60px;
	margin-left: 50px;
	width: 100px;
	height: 20px;
	border: 1px solid gray;
	border-radius: 25%;
	text-align: center;
}
#div3 {
	float: left;
	display: none;
	width: 160px;
	height: 20px;
	margin-left: 20px;
	border: 1px solid gray;
	border-radius: 25%;
	text-align: center;

}